<footer class="text-center text-white footer">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        In this project, I built a small Task-Tracker website that allows you to
        create Boards and Notes to keep track of your projects and tasks. You
        can drag the Notes around and double-click them to change their color
        alowing you to create different groups.
        <br />
        <br />
        Additionally this website is built as a PWA so you can download the
        website onto your device and use it offline as well.
        <br />
        <br />
        The website was built with Angular, Bootstrap, Font-Awesome and
        Dexie.js.
      </p>
    </section>
  </div>

  <div class="text-center p-3 footerBot">
    © 2022 Copyright:
    <a class="text-white" href="https://manuellerchner.de/">Manuel Lerhcner</a>
  </div>
</footer>
