.board {
  background: rgb(32, 33, 32);

  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  width: 300px;
  margin-bottom: 50px;

  box-shadow: rgb(79, 170, 173) 0px 20px 30px -10px,
    rgb(255, 147, 6) 0px 0px 0px 0.5px inset;
  filter: drop-shadow(10px 10px 15px #040405);
}

.note-title {
  font-size: 1.5em;

  font-weight: 700;
  margin-bottom: 5px;
  color: gold;

  overflow-wrap: break-word;
  text-shadow: 1px 1px 5px #665c41;
}

.note-hash {
  font-size: 1em;
  color: rgb(177, 177, 177);
  margin-bottom: 5px;
  text-shadow: 1px 1px 5px #444342;
}

.logo {
  color: whitesmoke;
  transition: 0.5s;
}
.logo:hover {
  color: red;
}

.top {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

.bot {
  border-top: 1px solid #999;
  margin-top: 10px;
}

.inputField {
  border-radius: 5px;

  color: rgba(0, 0, 0, 0.89);
  box-shadow: rgba(209, 213, 219, 0.445) 0px 0px 0px 1px inset;

  padding: 5px;
  padding-left: 10px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 1.1em;
  font-weight: 300;

  min-height: 50px;
  word-wrap: break-word;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #06b6b6;
}

.inputField::placeholder {
  color: black;
  opacity: 0.8;
}

.list {
  min-height: 60px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
