<div class="col-auto col-centered board">
  <div class="top">
    <h5 class="note-title">{{ board.name }}</h5>
    <p class="note-hash">{{ "#" + board.hash }}</p>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="noteList | async"
    class="list"
    (cdkDropListDropped)="drop($event, board)"
  >
    <app-note
      class="box"
      *ngFor="let note of noteList | async; trackBy: identifyNote"
      cdkDrag
      [note]="note"
      cdkDrag
      [cdkDragData]="note"
    >
      <div class="placeholder" *cdkDragPlaceholder></div>
    </app-note>
  </div>

  <div class="bot">
    <div class="row">
      <div class="col text-center mx-sm-1 my-2">
        <form name="form">
          <input
            type="text"
            id="text"
            name="text"
            [(ngModel)]="text"
            class="form-control inputField"
            placeholder="Enter new Note"
            autofocus
            autocomplete="off"
          />
          <button type="submit" class="btn btn-default" (click)="addNote()">
            Add Note
          </button>

          <button
            type="button"
            class="btn btn-default logo"
            (click)="deleteBoard(board)"
          >
            <fa-icon [icon]="fa.faTrash">_</fa-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div cdkDragHandle></div>
</div>
