.note {
  background-color: #50c050;
  border-radius: 5px;

  color: rgba(0, 0, 0, 0.89);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 15px;
  font-weight: 400;

  height: 100%;
  width: 100%;
  word-wrap: break-word;

  box-shadow: rgba(209, 213, 219, 0.445) 0px 0px 0px 1px inset;
}
